<!DOCTYPE html>  
<html>  
<head>  
<style>
  body{
     border-collapse: collapse;
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYepEzGG4QWmHwOe4wN4m77xbv_cZfmKxn9g&usqp=CAU');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
  }
  table, th, td{
    border: 2px solid black;
 }

</style>  
</head>  
<body> 
<table style="width:100%"> 
 <tr>    
  <th>Name</th> 
  <th>age</th> 
  <th>Roll no.</th>  
  <th>College</th>  
  </tr>  
  <tr>  
      <td>Arjun</td>  
      <td>18</td>
      <td>1</td>  
      <td>SVEC</td>  
 </tr>  
 <tr>  
  <td>Nandu</td>  
  <td>17</td>
  <td>2</td>  
  <td>SVEC</td>  
 </tr>  
 <tr>  
  <td>Karthik</td>  
  <td>16</td>
  <td>3</td>
  <td>SVEC</td>  
 </tr>  
</table>  
<a href="marks2.html"><input type="button" value=gradesheet></a>
</body>  
</html> 